name: CI

on:
  push:
    branches: [ "master", "groupGenes"  ]
  pull_request:
    branches: [ "master", "groupGenes"  ]

jobs:

  unittest:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    container:
      image: immcantation/test:devel
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Document
        run: |
          devtools::document()
        shell: Rscript {0}
      - name: Update buildignore
        run: |
            sed -i '/test/ d' .Rbuildignore
        shell: bash
      - name: Check
        uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--as-cran", "--run-donttest", "--timings")'
          error-on: '"warning"'
          check-dir: '"check"'
      # - name: Install
      #   run: |
      #     devtools::install()
      #   shell: Rscript {0}
      # - name: Build docs
      #   run: |
      #      git rm -r docs/topics docs/vignettes
      #      Rscript docs/build.R
      #      CHANGES=$(git status --porcelain | wc -l)
      #         if [[ "${CHANGES}" -gt 0 ]]; then
      #           git add docs/*
      #           git commit --allow-empty -m "[skip ci] Auto-build docs."
      #           git push
      #         fi
      - name: Update container
        run: |
          curl -H "Content-Type:application/json" --data '{"docker_tag":"devel"}' -X POST https://hub.docker.com/api/build/v1/source/${{ secrets.DOCKERHUB_REPO }}/trigger/${{ secrets.DOCKERHUB_TRIGGER }}/call/
          